<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img src="../../assets/logo-no-background.png" alt="logo" style=" max-width: 55%; height: auto;">
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a routerLink="/productList" class="nav-link px-2 link-secondary">Products</a></li>
        <li><a routerLink="/about" class="nav-link px-2">About</a></li>
        <li><a routerLink="/cart" class="nav-link px-2">Cart</a></li>
      </ul>

      <div class="col-md-3 text-end" *ngIf="!logged">
        <button type="button" class="btn btn-outline-primary me-2" routerLink="/login">Login</button>
        <button type="button" class="btn btn-primary" routerLink="/signup">Sign-up</button>
      </div>
      
      <div class="nav-item dropdown col-md-3 text-end" *ngIf="logged">
        <select class="form-select mb-3">
          <option value=""><a routerLink="">Profile</a></option>
          <option value="">Wishlist</option>
          <option value="">Cart</option>
          <!-- <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option> -->
        </select>

        <button (click)="logout()">
          logout
        </button>
      </div>
      

    </header>
</div>


<router-outlet></router-outlet>