
<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <!-- Category dropdown -->
          <select class="form-select mb-3" [(ngModel)]="selectedCategoryId" (ngModelChange)="onCategoryChange($event)">
            <option value="">All Categories</option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
        </div>
  
        <div  *ngFor="let product of products" class="col-md-12 col-lg-4 mb-4 mb-lg-0">
          <div class="card text-black">
            <img src={{productPicturesDict[product.id]?.front_view}}
              class="card-img-top" alt="prodImg" />
            <div class="card-body">
              <div class="text-center mt-1">
                <h4 class="card-title">Name:{{ product.name }}</h4>
                <h6 class="text-primary mb-1 pb-3">{{ product.price }}$</h6>
              </div>
  
              <div class="text-center">
  
  
                <div class="d-flex flex-column mb-4">
                  <span class="h1 mb-0">Brand:{{ product.brand }}</span>
                </div>
              </div>
  
              <div class="d-flex flex-row">
                <a [routerLink]="['/productList', product.id]" class="btn btn-primary flex-fill me-1" data-mdb-ripple-init data-mdb-ripple-color="dark" routerLink="">Learn more</a>
                
                <button class="btn btn-danger flex-fill ms-1" data-mdb-ripple-init data-mdb-ripple-color="dark" 
                (click)="addToCart(product.id)">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <router-outlet></router-outlet>